@charset "utf-8";
/* CSS Document */
body {
	font-family:"Work Sans", sans-serif;
}
/*
Styling Nav
*/

header {
	background: #dadada;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.header {
}
ul {

list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px;
}

.mail a {
	color: aliceblue;
	text-decoration: none;
	font-weight: bold;
}

.logo {
	/*background: url(../img/logo.png) no-repeat;*/
	margin: 13px;
	float: left;
	width: auto;
	height: 50px;
	display: block;
}

nav {
	float: right;
	padding: 10px;
	font-family: "Work Sans", "serif";
	
}

nav a {
	color: #706f6f;
	text-decoration: none;
}

/* #menu-icon {
	background: url(../img/menu.png) no-repeat center;
	display: none;
	
	width: 75px;
	height: 52px;
} 
*/ 


.dropbtn {
	background: url(../img/menu.png) no-repeat center;
	display: none;
	width: 75px;
	height: 52px;
}
button {
	border-style: none;
}
.clearfix {
	clear: both;
}

/*
Styling Main
*/
.main-container p {
	margin: 1em 1em;
}
 
.main-container {
	margin-top: 76px;
}
h1 { 
	color: #706f6f;
    display: block;
    font-size: 2.2em;
    padding-top:0.67em;
    padding-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
	text-align: center;
}

.main-section {
	text-align: center;
}

.main-section img {
	width: 100%;
}

.eight {
padding: 1.5em;
}
.eight a {
	color: rgb(0, 163, 173);
}
/*styling video*/ 
.video {
	width: 100%;
}

.bubble {
	color: white;
	background-color: #03a2ac;
	font-size: 1.2em;
	font-weight: 400;
	padding: 1em 2em ;
	width: 75%;
	margin: 1em auto;
	border-top-right-radius: 90px;
	border-top-left-radius: 90px;
	border-bottom-right-radius: 90px;
}
/* Slideshow 
.gallery {
	position: relative;
}
.mySlides {
	width: 100%;
}
.arrow {
	color: #FFF;
	cursor: pointer;
	font-size: 2em;
	text-shadow: 1px 1px #000;
	top: 50%;
	transition: color .3s;
	transform: translateY(-50%);
	position: absolute;
}
.arrow:hover {
	color: #ccc;
}
.back {
	left: 0;
	margin-left: .25em;
}
.next {
	right: 0;
	margin-right: .25em;
}
*/
/*
Styling Footer
*/

.footer-container {
	
	background-color: #2e2d2c;
	color: #B7B7B7;
}

.footer-desk {
		text-align: center;
	}
.contact {
	margin-bottom: 0.7em;
	text-align: center;
	color: #686868;
}


h6 { 
    display: block;
    font-size: 1.2em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
	letter-spacing: 0.1em;
	color: #686868;
}

.special {
	margin-top: 1em;
	
}

.heading3 {
padding: 2em 0 0 0;
font-weight: 400;
border-top: solid 1px #686868;
text-align: center;
}

.mail {
	color: #686868;
	padding-bottom: 0.5em;
}

.footer-section {
	padding: 1em;
	color: #686868;
}
.names p{
	color: #686868;
}

 .footer-section img {
	width: 30px;
}
/*
Media Queries
*/

/*Nav*/

@media only screen and (max-width: 575px) {
	header {
	position: fixed;
	top: 0;
	}
	
	/* #menu-icon {
		display: inline-block;
	}
*/ 
	.dropbtn {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 12px;
		background: #dadada;
		right: 0;
		top: 76px;
		width: 100%;
		
		
	}
	
	nav:hover ul {
		display: block;
	}
	
	nav li {
		text-align: center;
		width: 100%;
		padding: 15px 0;
		margin: 0;
		/*border-top: 1px solid #706f6f;*/
	}
}
/*
footer
*/

@media only screen and (min-width: 575px) {
	
	.main-wrapper {
		width: 80%;
		margin: auto;
		border-left: 1px solid rgba(75,75,75,0.8);
		border-right: 1px solid rgba(75,75,75,0.8);
	}
	nav {
		position:relative;
	}
	.heading3 {
		border: none;
	}
	
	.desktop-heading {
		margin-top: 0;
		padding-top: 0;
	}
	
	.footer-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
	}
	
	.footer-section {
		flex: 1;
	}
	
	.main-section img {
		width: 50%;
	}
	
	.video {
		width: 50%;
	}
	
	.bubble {
		width: 45%;
	}
}

@media only screen and (min-width: 767px) {}
@media only screen and (min-width: 991px) {}
@media only screen and (min-width: 1199px) {}


